body {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px 0;
}

h1 {
    font-size: 40px;
    color: blue;
}

main {
    margin: auto;
    max-width: 400px;
}

img[data-src] {
    filter: blur(40px);
}

img {
    transition: filter 0.5s;
    margin-top: 20px;
    border: solid 2px blue;
}

[data-src] {
    min-width: 50px;
    min-height: 50px;
}

