@media only screen and (min-width: 60em) {

    main {
      max-width: 1000px;
    }
  
    h1 {
      font-size: 50px;
    }
  
    h2 {
      font-size: 40px;
    }
  
    .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .container figure:hover {
      box-shadow: 0 0 50px #AADDCC;
    }
  
    footer {
      margin-top: 3%;
    }
    .final {
      padding: 10px 10px 20px 10px;
    }
  
  
  }