body {
    font-family: 'Bitter', sans-serif;
  }
  
  main {
    padding: 20px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px grey;
    background-color: white;
  }
  
  h1,
  h2 {
    text-align: center;
    color: rgb(192, 163, 0);
  }
  
  img {
    width: 50%;
    margin: 5px auto 0 auto;
    display: block;
    box-shadow: 0px 0px 10px 5px grey;
  }
  
  section {
    background-color: rgb(228, 226, 88);
    border: solid 2px rgb(56, 2, 58);
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }
  footer {
    padding: 5px 5px 10px 5px;
    background-color: rgb(56, 2, 58);
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
  }  
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 6px;
  }
  
  @media only screen and (min-width: 32.5em) {
  
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  
  }
  
  @media only screen and (min-width: 60em) {
  
    .cards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }